a:link, a:visited {
    color: (internal value);
    text-decoration: none;
}

.titulo {
  position: relative;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 0.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}



a.volta {
  position: fixed;
  color: rgb(58, 58, 58);
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  left: 0px;
  top: 0px;
  background-color: rgb(242, 242, 242);
  padding: 0.5vw 1vw 0.75vw 0.75vw;
  border-bottom-right-radius: 1vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: silver;
  border-width: 0.1vw;
}

.subtitle {
  margin-top: 0.5vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 100%;
  padding-left: 2vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.texto {
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 1vw;
  width: 55%;
  padding: 1vw 1vw 1vw 2.5vw;
  height:20vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imagem {
  position: relative;
  top: -22vw;
  left: 55%;
  width: 45%;
  height: 22vw;
  margin-bottom: -22vw;
}
