a:link, a:visited {
    color: (internal value);
    text-decoration: none;
}

.titulo {
  position: relative;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 0.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

h1.titulo_home {
  position: absolute;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 0.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

h2.subtitulo {
  position: absolute;
  width: 100%;
  color: rgb(58, 58, 58);
  top: 2.5vw;
  /*margin: 0.5vw 0vw 0.5vw 0vw;*/
  font-size: 2vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

/*References to image "teo_link.jpg" in "homepage.html"*/
a.teo_link {
  position: absolute;
  color: white;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1600%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_teo.jpg");
  /*transform: skewX(-20deg);*/
  left: 66.8%;
  width: 33%;
  top: 8vw;
  height: 40vw;
  border-radius: 5%;
}

/*References to image "home_sis.jpg" in "homepage.html"*/
a.sis_link {
  position: absolute;
  color: white;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1600%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_sis.jpg");
  /*transform: skewX(-20deg);*/
  background-size: contain;
  left: 33.5%;
  width: 33%;
  top: 8vw;
  height: 40vw;
  border-radius: 5%;
}

/*References to image "home_design.jpg" in "homepage.html"*/
a.design_link {
  position: absolute;
  color: white;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1600%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_design.jpg");
  background-size:cover;
  /*transform: skewX(-20deg);*/
  left: 0.2%;
  width: 33%;
  top: 8vw;
  height: 40vw;
  border-radius: 5%;
}

a.volta {
  position: fixed;
  color: rgb(58, 58, 58);
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  left: 0px;
  top: 0px;
  background-color: rgb(242, 242, 242);
  padding: 0.5vw 1vw 0.75vw 0.75vw;
  border-bottom-right-radius: 1vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: silver;
  border-width: 0.1vw;
}

.subtitle {
  margin-top: 0.5vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 100%;
  padding-left: 2vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.texto {
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 1vw;
  width: 55%;
  padding: 1vw 1vw 1vw 2.5vw;
  height:20vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imagem {
  position: relative;
  top: -22vw;
  left: 55%;
  width: 45%;
  height: 22vw;
  margin-bottom: -22vw;
}
