
	<html>
		<head>
			<title>Arthur Alegro de O. Modelagem e simulação do mundo fisico</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Arthur Alegro de O. em Modelagem e simulação do mundo fisico</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Estudo Populacional da Ilha Royale
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Arthur Alegro de Oliveira Estudo Populacional da Ilha Royale.png"/>
				Modelagem de um dos mais estudados sistemas populacionais do mundo, a interação de lobos e alces na Ilha Royale
			</div>

			<div class="subtitle" href="homepage.html">
		Concentração de Morfina
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Arthur Alegro de Oliveira Concentração de Morfina.png"/>
				Estudo sobre a concentração de morfina no corpo humano, em especial no uso do medicamento para a pediatria
			</div>
			<a class = "volta" href='Arthur_Alegro_de_Oliveiraarea3.html'>Voltar</a>
		</body>
	</html>