
	<html>
		<head>
			<title>Arthur Alegro de O. Trabalhos escritos</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Arthur Alegro de O. em Trabalhos escritos</b>
			</div>

	
			<div class="no_p">
						Arthur nao tem nenhum projeto aqui!
			</div>
			<a class = "volta" href='Arthur_Alegro_de_Oliveiraarea2.html'>Voltar</a>
		</body>
	</html>