
	<html>
		<head>
			<title>Arthur Alegro de O. Software</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Arthur Alegro de O. em Software</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Árvore Fractal
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Arthur Alegro de Oliveira Árvore Fractal.png"/>
				O objetivo deste projeto era desenvolver um programa que utilizasse um algoritimo que se auto repetia, formando um desenho fractal
			</div>

			<div class="subtitle" href="homepage.html">
		Tratamento de Erros Python
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Arthur Alegro de Oliveira Tratamento de Erros Python.png"/>
				Aula dada aos colegas e professor sobre tratamento de dados na linguagem Python
			</div>
			<a class = "volta" href='Arthur_Alegro_de_Oliveiraarea1.html'>Voltar</a>
		</body>
	</html>