
	<html>
		<head>
			<title>Barbara D. Eletricidade (téses)</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Barbara D. em Eletricidade (téses)</b>
			</div>

	
			<div class="no_p">
						Barbara nao tem nenhum projeto aqui!
			</div>
			<a class = "volta" href='Barbara_Darianoarea2.html'>Voltar</a>
		</body>
	</html>