
	<html>
		<head>
			<title>Barbara D</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Barbara D. em Software e Design</b>
			</div>

	
			<div class="subtitle" href="homepage.html">
	Software
			</div>
			<a href='Barbara_Darianosoftware.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/software_imagem_1.png"/>
					Uma sequência de instruções escritas para serem interpretadas por um computador com o objetivo de executar tarefas específicas. Também pode ser definido como os programas que comandam o funcionamento de um computador.
				</div>
			</a>
			<div class="subtitle" href="homepage.html">
	Design
			</div>
			<a href='Barbara_Darianodesign.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/design_imagem_1.png"/>
					A idealização, criação, desenvolvimento, configuração, concepção, elaboração e especificação de artefatos, normalmente produzidos industrialmente ou por meio de sistema de produção seriada que demanda padronização dos componentes e desenho normalizado.
				</div>
			</a>

			<a class = "volta" href="sobreBarbara_Dariano.html">Voltar</a>
		</body>
	</html>