
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			<title>Design Tech</title>
		</head>

		<body style="margin:0;padding:0">
			<h1 class="titulo_home">Design Tech</h1>
			<h2 class="subtitulo">your source of portfolios</h2>

			<a href="signup.html">
				<img class="addprofile" src="../static/Images/addprofile.png"/>
			</a>
	
			<div class="home_container">
				<a href="sobreMatteo_Iannoni.html"><img class="home_pic" src="../static/Images/Matteo Iannoni.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreMatteo_Iannoni.html"><b>Matteo I.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreJhonata_Ferreira_de_Souza.html"><img class="home_pic" src="../static/Images/Jhonata Ferreira de Souza.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreJhonata_Ferreira_de_Souza.html"><b>Jhonata F.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreArthur_Alegro_de_Oliveira.html"><img class="home_pic" src="../static/Images/Arthur Alegro de Oliveira.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreArthur_Alegro_de_Oliveira.html"><b>Arthur A.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobrePedro_Villas_Bôas_Dias.html"><img class="home_pic" src="../static/Images/Pedro Villas Bôas Dias.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobrePedro_Villas_Bôas_Dias.html"><b>Pedro V.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreRonald_McDonald.html"><img class="home_pic" src="../static/Images/Ronald McDonald.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreRonald_McDonald.html"><b>Ronald M.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreDemo_Banana.html"><img class="home_pic" src="../static/Images/Demo Banana.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreDemo_Banana.html"><b>Demo B.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreCamila_Achutti.html"><img class="home_pic" src="../static/Images/Camila Achutti.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreCamila_Achutti.html"><b>Camila A.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreBarbara_Dariano.html"><img class="home_pic" src="../static/Images/Barbara Dariano.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreBarbara_Dariano.html"><b>Barbara D.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreMatita_Matheus.html"><img class="home_pic" src="../static/Images/Matita Matheus.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreMatita_Matheus.html"><b>Matita M.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobrePhelipe_Müller.html"><img class="home_pic" src="../static/Images/Phelipe Müller.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobrePhelipe_Müller.html"><b>Phelipe M.</b></a></div>
			</div>
			<div class="home_container">
				<a href="sobreMarcelo_H.html"><img class="home_pic" src="../static/Images/Marcelo H.jpeg"></img></a>
				<div class="home_name"><a class="black" href="sobreMarcelo_H.html"><b>Marcelo H.</b></a></div>
			</div>
		</body>
	</html>
	