
	<html>
		<head>
			<title>Jhonata Ferreira de S. Trabalhos escritos</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Jhonata Ferreira de S. em Trabalhos escritos</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Evoluir a tecnologia de mídia é evoluir o desafio da aprovação
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Jhonata Ferreira de Souza Evoluir a tecnologia de mídia é evoluir o desafio da aprovação.png"/>
				Esse projeto foi desenvolvido com a intensão de criar um artigo que discutisse um tema relacionando ele as dificuldades e desafios de um engenheiro. O desenvolvimento desse projeto gerou um artigo que discute como a evolução das tecnologias que impulsionam a mídia ou que melhoram a qualidade da sua divulgação tem o potencial de se tornarem obstáculos na vida profissional de um engenheiro
			</div>
			<a class = "volta" href='Jhonata_Ferreira_de_Souzaarea2.html'>Voltar</a>
		</body>
	</html>