
	<html>
		<head>
			<title>Jhonata Ferreira de S. Modelagem e simulação do mundo fisico</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Jhonata Ferreira de S. em Modelagem e simulação do mundo fisico</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Saque com ou sem resistência ar
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Jhonata Ferreira de Souza Saque com ou sem resistência ar.png"/>
				Esse foi um projeto com o intuito de modelar, analisar e tirar conclusões de um sistema mecânico. O que levou a modelação do saque de uma bola de vôlei em uma partida, analisando as diferenças no comportamento da bola quando levamos em conta a resistência do ar e quando não a levamos em conta.
			</div>

			<div class="subtitle" href="homepage.html">
		Como diferentes substâncias esfriam um caldeirão a 373 K?
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Jhonata Ferreira de Souza Como diferentes substâncias esfriam um caldeirão a 373 K?.png"/>
				Esse projeto é uma modelação do comportamento da temperatura de um caldeirão cheio de olho que é submergido em diferentes tipo de liguido, tendo como objetivo identificar em que liguido o caldeirão tem uma temperatura menor quando entrar em equilibrio
			</div>

			<div class="subtitle" href="homepage.html">
		Vieiras, Arraias e Tubarões
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Jhonata Ferreira de Souza Vieiras, Arraias e Tubarões.png"/>
				Esse projeto é a modelagem de um sistema onde vivem vieiras, arraias e tubarões que interagem entre si para viver
			</div>
			<a class = "volta" href='Jhonata_Ferreira_de_Souzaarea3.html'>Voltar</a>
		</body>
	</html>