
	<html>
		<head>
			<title>M. Software</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>M. em Software</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		é física morty
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Matita Matheus é física morty.png"/>
				um jogo
			</div>
			<a class = "volta" href='Matita_Matheusarea1.html'>Voltar</a>
		</body>
	</html>