
	<html>
		<head>
			<title>Matteo I. Modelagem e simulação do mundo fisico</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Matteo I. em Modelagem e simulação do mundo fisico</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Arraias e Vieiras
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Matteo Iannoni Arraias e Vieiras.png"/>
				Simulacao da populacao de arraias e vieiras
			</div>

			<div class="subtitle" href="homepage.html">
		Taxas de variacao no corpo humano
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Matteo Iannoni Taxas de variacao no corpo humano.png"/>
				Nesse projeto a gente estudou a absorcao de alcol pelo corpo humano.
			</div>

			<div class="subtitle" href="homepage.html">
		Gol Olimpico
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Matteo Iannoni Gol Olimpico.png"/>
				Nesse projeto a eu fiz uma simulacao para descobrir qual o gol olimpico com maior angulo possivel.
			</div>
			<a class = "volta" href='Matteo_Iannoniarea3.html'>Voltar</a>
		</body>
	</html>