
	<html>
		<head>
			<title>Matteo I. Design</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Matteo I. em Design</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Brinquedo Bioinspirado
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Matteo Iannoni Brinquedo Bioinspirado.png"/>
				Nesse projeto a gente criou um jogo de baralho estilo super trunfo com animais.
			</div>
			<a class = "volta" href='Matteo_Iannoniarea1.html'>Voltar</a>
		</body>
	</html>