
	<html>
		<head>
			<title>Pedro Villas Bôas D. Modelagem e simulação do mundo fisico</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Pedro Villas Bôas D. em Modelagem e simulação do mundo fisico</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Hulk
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Hulk.png"/>
				Utilizando o conceito de equções difrencias e diagram de corpo livre tivemos de modelar um sistema mecânico a sua escolha. A partir disso foi escolhido com minha dupla modelar a quantidade de saltos realizadas pelo Hulk para chegar em San Franscisco, saindo de São Paulo.
			</div>

			<div class="subtitle" href="homepage.html">
		Morfina
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Morfina.png"/>
				Utilizando o python tivemos de modelar sistemas farmacocinétcos, no caso a taxa de morfina a ser inserida em difrentes pacientes, comparando seu peso, altura, idade e quantidade de morfina a ser expelida.
			</div>

			<div class="subtitle" href="homepage.html">
		Tubarões, Arraias e Vieiras
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Tubarões, Arraias e Vieiras.png"/>
				Utilizando o python aprendemos a como modelar sistemas biológicos numericamento utilizando as equções de Eulier. Nesse modelo tivemos de realizar uma modelagem da cadeia alimentar (Tubarão - arraias - vieiras), considerando fatores externos como caça por humanos, para por fim explicar como se da essa interção.
			</div>
			<a class = "volta" href='Pedro_Villas_Bôas_Diasarea3.html'>Voltar</a>
		</body>
	</html>