
	<html>
		<head>
			<title>Pedro Villas Bôas D. Trabalhos escritos</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Pedro Villas Bôas D. em Trabalhos escritos</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Mobilidade Urbana
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Mobilidade Urbana.png"/>
				Apresentação e debate crítico, saindo do senso comum, sobre a Mobilidade Urbana em São Paulo, considerando sua origem industrial, como impactou socialmente, como funcionava no passado, como funciona no presente e quais as perspectivas para o futuro.
			</div>

			<div class="subtitle" href="homepage.html">
		O Papel das Fontes Renováveis na Sociedade Brasileira
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias O Papel das Fontes Renováveis na Sociedade Brasileira.png"/>
				Esse projeto trata-se de um mini-artigo científico que relaciona a utilização de fontes limpas e renováveis com o desenvolvimento sustentável, para provar que sua utilização traria um melhor befício para o páis e sua populção.
			</div>
			<a class = "volta" href='Pedro_Villas_Bôas_Diasarea2.html'>Voltar</a>
		</body>
	</html>