
	<html>
		<head>
			<title>Pedro Villas Bôas D. Design</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Pedro Villas Bôas D. em Design</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Fleedglings
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Fleedglings.png"/>
				Projeto bioinspirado para crianças de 6 a 8 anos de idade. Esse projeto trata-se de um lançador de pássaros, pois como diz o nome "Fleedglings", são pássaros em seus primeiros estágios e por isso precisam de ajuda para voar.
			</div>
			<a class = "volta" href='Pedro_Villas_Bôas_Diasarea1.html'>Voltar</a>
		</body>
	</html>