
	<html>
		<head>
			<title>Pedro Villas Bôas D. Software</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Pedro Villas Bôas D. em Software</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Inspermon
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Inspermon.png"/>
				Jogo semelhante ao Pokémon, onde tem um jogador e um “Pokémon” inicial, definido por nome, ataque, defesa, level e experiência. Nisso deveriam ser estabelecidas 6 funcionalidades: Passear (“Andar pelo ambiente”), sair do jogo, batalhar com “Pokémons” selvagens (em que Vida = Ataque – Defesa), um esquema de desvio de ataque (Random), evoluir (aumentar o level), ganhar experiência, ter possibilidade de salvar, novo jogo e jogo salvo, por fim uma funcionalidade extra. Esse jogo não usa interface gráfica, apenas python para a programação.
			</div>

			<div class="subtitle" href="homepage.html">
		Escape Insper
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Escape Insper.png"/>
				Nesse jogo o jogador tem de sair do Insper, pois acabou ficando preso ao estudar para caramba para a semana de prova e ficou trancado para dentro do colégio. Para escapar o jogador deve usar a lógica e conseguir objetos perdidos, usá-los para conseguir outros e até combiná-los.  Esse jogo possui um nível, e usa-se o python como linguagem de programação e o pygame, de interface.
			</div>
			<a class = "volta" href='Pedro_Villas_Bôas_Diasarea1.html'>Voltar</a>
		</body>
	</html>