
	<html>
		<head>
			<title>Pedro Villas Bôas D. Eletricidade</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Pedro Villas Bôas D. em Eletricidade</b>
			</div>

	

			<div class="subtitle" href="homepage.html">
		Estação Meteriológica
			</div>
			<div class="texto">
				<img class="imagem" src="../static/Images/Pedro Villas Bôas Dias Estação Meteriológica.png"/>
				Utilizando o arduino, tivemos de criar uma pequena estação meteriológica que conseguisse calcular com precisão a umidade do ar, a pressão, altura e a temperatura na qual se encontrava.
			</div>
			<a class = "volta" href='Pedro_Villas_Bôas_Diasarea3.html'>Voltar</a>
		</body>
	</html>