
	<html>
		<head>
			<title>Phelipe M</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Phelipe M. em Modelagem e simulação do mundo fisico e Eletricidade</b>
			</div>

	
			<div class="subtitle" href="homepage.html">
	Modelagem e simulação do mundo fisico
			</div>
			<a href='Phelipe_Müllermodelagem.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/modelagem_imagem_1.png"/>
					Modelagem matematica de fenomenos que ocorrem no mundo fisico.
				</div>
			</a>
			<div class="subtitle" href="homepage.html">
	Eletricidade
			</div>
			<a href='Phelipe_Müllerelectric.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/electric_imagem_1.png"/>
					Tudo que se relaciona a eletricidade, que nao seja teorico, fica aqui.
				</div>
			</a>

			<a class = "volta" href="sobrePhelipe_Müller.html">Voltar</a>
		</body>
	</html>