
	<html>
		<head>
			<title>Ronald M</title>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
			
		</head>
		<body style="margin:0;padding:0">
			<div class = "titulo">
				<b>Ronald M. em Eletricidade (téses) e Trabalhos escritos</b>
			</div>

	
			<div class="subtitle" href="homepage.html">
	Eletricidade (téses)
			</div>
			<a href='Ronald_McDonaldelectric2.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/electric2_imagem_1.png"/>
					Trabalhos escritos relacionados a eletricidade. Relatorios de projetos sao encontrados aqui.
				</div>
			</a>
			<div class="subtitle" href="homepage.html">
	Trabalhos escritos
			</div>
			<a href='Ronald_McDonaldessay.html'>
				<div class="texto">
					<img class="imagem" src="../static/Images/essay_imagem_1.png"/>
					Trabalhos escritos, em sua maior parte debatendo visoes de mundo e buscando uma perspectiva propria de certos problemas.
				</div>
			</a>

			<a class = "volta" href="sobreRonald_McDonald.html">Voltar</a>
		</body>
	</html>