
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
		<title>Add Profile</title>
		<link rel="stylesheet" type="text/css" href="../static/design.css"/>
	</head>
	<body>
		<div class="signupheader">
    		<h1 class="head1">Demo da pagina sign up!</h1>
    		<h2 class="head2">Bem vindo ao demo da nossa pagina de sign up, no momento<br>nos so estamos aceitando portfolios novos com 1 projeto
    						<br>e ate 5 estatisticas.
    						<br>Por favor sinta se livre para por seu portfolio no nosso site!
    						<br>
    						<br>
    						<br>INSTRUCOES: escreva as stats no formato "Nome do projeto/Nota/area do estudo" separados por uma barra como se escreve uma data!
    						<br>OBS.: Por favor clique o botao enviar uma vez só!
    		</h2>
    	</div>
    	<div class="holdform">
    		<form action="/pagesetup" method="POST">
        		
				<div class="formitem">
		       		<div class="formheader">
						name
					</div>
					<input class="input" type="text" name='name'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						telephone
					</div>
					<input class="input" type="text" name='telephone'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						email
					</div>
					<input class="input" type="text" name='email'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						description
					</div>
					<input class="input" type="text" name='description'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						stats1
					</div>
					<input class="input" type="text" name='stats1'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						stats2
					</div>
					<input class="input" type="text" name='stats2'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						stats3
					</div>
					<input class="input" type="text" name='stats3'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						stats4
					</div>
					<input class="input" type="text" name='stats4'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						stats5
					</div>
					<input class="input" type="text" name='stats5'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						project1name
					</div>
					<input class="input" type="text" name='project1name'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						project1description
					</div>
					<input class="input" type="text" name='project1description'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						project1category
					</div>
					<input class="input" type="text" name='project1category'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						project1skills
					</div>
					<input class="input" type="text" name='project1skills'>
				</div>
				
				<div class="formitem">
		       		<div class="formheader">
						project1pic
					</div>
					<input class="input" type="text" name='project1pic'>
				</div>
				
        		<input type="submit" name="my-form" value="Send">
    		</form>
		</div>
		<a class = "volta" href='homepage.html'>Voltar</a>
	</body>
</html>