
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<title>Camila A.</title>
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
		</head>

		<body style="margin:0;padding:0">
			<div class = "sobremim_titulo_container">
				<div class = "titulo_sobremim">
					<b>Camila A.</b>
				</div>
			</div>

			<div class="sobremim_container1">
				<img class="sobremim_imagem" src="../static/Images/Camila Achutti.jpeg"></img>

				<div class="sobremim_subtitulo">
					Contato
				</div>
		
				<div class="sobremim_subtexto" href="homepage.html">
					Telefone:<br>11998926923
					<br>Email:<br>camila.achutti@gmail.com
				</div>			
			</div>

			<div class="sobremim_container2">
				<div class="sobremim_titulo" href="homepage.html">
					Sobre mim:
				</div>

				<div class="sobremim_texto">
						Professora do INSPER
				</div>
			</div>

			<div class="sobremim_container3">
				<div class="sobremim_subtitulo2">
					Areas de atuacao (Links):
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Camila_Achuttiarea1.html'>
							<img class="a_p_img" src="../static/Images/design.jpg"></img>
							Software e Design
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Camila_Achuttiarea3.html'>
							<img class="a_p_img" src="../static/Images/sistems.jpg"></img>
							Sistemas do mundo
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Camila_Achuttiarea2.html'>
							<img class="a_p_img" src="../static/Images/theory.jpg"></img>
							Trabalhos teoricos
					<a/>
				</div>
			
				<div class="sobremim_subtitulo3">
					Projetos Notaveis:
				</div>

				<div class="sobremim_texto3" href="homepage.html">
					<br>Em Campo Minado do tipo Programação tirou SoftDes.<br>Em Estação Metereologica do tipo Modelagem tirou Simulação.<br>Em |stat3_end| do tipo |stat4_end| tirou |stat4|.<br>Em |stat4_end| do tipo |stat5_end| tirou |stat5|.<br>Em |stat5_end| do tipo |project| tirou |statistics_end|.
				</div>
			</div>
			<a class = "volta" href="homepage.html">Voltar</a>
		</body>
	</html>