
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<title>Phelipe M.</title>
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
		</head>

		<body style="margin:0;padding:0">
			<div class = "sobremim_titulo_container">
				<div class = "titulo_sobremim">
					<b>Phelipe M.</b>
				</div>
			</div>

			<div class="sobremim_container1">
				<img class="sobremim_imagem" src="../static/Images/Phelipe Müller.jpeg"></img>

				<div class="sobremim_subtitulo">
					Contato
				</div>
		
				<div class="sobremim_subtexto" href="homepage.html">
					Telefone:<br>11 9935600430
					<br>Email:<br>Phelipe@navesmuller.com.br
				</div>			
			</div>

			<div class="sobremim_container2">
				<div class="sobremim_titulo" href="homepage.html">
					Sobre mim:
				</div>

				<div class="sobremim_texto">
						Sou Fofo
				</div>
			</div>

			<div class="sobremim_container3">
				<div class="sobremim_subtitulo2">
					Areas de atuacao (Links):
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Phelipe_Müllerarea1.html'>
							<img class="a_p_img" src="../static/Images/design.jpg"></img>
							Software e Design
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Phelipe_Müllerarea3.html'>
							<img class="a_p_img" src="../static/Images/sistems.jpg"></img>
							Sistemas do mundo
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Phelipe_Müllerarea2.html'>
							<img class="a_p_img" src="../static/Images/theory.jpg"></img>
							Trabalhos teoricos
					<a/>
				</div>
			
				<div class="sobremim_subtitulo3">
					Projetos Notaveis:
				</div>

				<div class="sobremim_texto3" href="homepage.html">
					
				</div>
			</div>
			<a class = "volta" href="homepage.html">Voltar</a>
		</body>
	</html>