
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<title>Ronald M.</title>
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
		</head>

		<body style="margin:0;padding:0">
			<div class = "sobremim_titulo_container">
				<div class = "titulo_sobremim">
					<b>Ronald M.</b>
				</div>
			</div>

			<div class="sobremim_container1">
				<img class="sobremim_imagem" src="../static/Images/Ronald McDonald.jpeg"></img>

				<div class="sobremim_subtitulo">
					Contato
				</div>
		
				<div class="sobremim_subtexto" href="homepage.html">
					Telefone:<br>99999999
					<br>Email:<br>rolandinho@mc.com
				</div>			
			</div>

			<div class="sobremim_container2">
				<div class="sobremim_titulo" href="homepage.html">
					Sobre mim:
				</div>

				<div class="sobremim_texto">
						Sou um palhaco mesmo! Segue a vida
				</div>
			</div>

			<div class="sobremim_container3">
				<div class="sobremim_subtitulo2">
					Areas de atuacao (Links):
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Ronald_McDonaldarea1.html'>
							<img class="a_p_img" src="../static/Images/design.jpg"></img>
							Software e Design
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Ronald_McDonaldarea3.html'>
							<img class="a_p_img" src="../static/Images/sistems.jpg"></img>
							Sistemas do mundo
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Ronald_McDonaldarea2.html'>
							<img class="a_p_img" src="../static/Images/theory.jpg"></img>
							Trabalhos teoricos
					<a/>
				</div>
			
				<div class="sobremim_subtitulo3">
					Projetos Notaveis:
				</div>

				<div class="sobremim_texto3" href="homepage.html">
					<br>Em Sou legal do tipo palhaçada tirou 10.<br>Em Sou palhaco do tipo palhaçada tirou 10.<br>Em Gosto de criancas felizes do tipo palhaçada tirou 10.<br>Em Gosto de gorduras trans do tipo palhaçada tirou 10.<br>Em |stat5_end| do tipo |project| tirou |statistics_end|.
				</div>
			</div>
			<a class = "volta" href="homepage.html">Voltar</a>
		</body>
	</html>