
	<html>
		<head>
			<meta name="viewport" content="width=device-width, initial-scale=1.0" charset="utf-8">
			<title>Pedro Villas Bôas D.</title>
			<link rel="stylesheet" type="text/css" href="../static/design.css"/>
		</head>

		<body style="margin:0;padding:0">
			<div class = "sobremim_titulo_container">
				<div class = "titulo_sobremim">
					<b>Pedro Villas Bôas D.</b>
				</div>
			</div>

			<div class="sobremim_container1">
				<img class="sobremim_imagem" src="../static/Images/Pedro Villas Bôas Dias.jpeg"></img>

				<div class="sobremim_subtitulo">
					Contato
				</div>
		
				<div class="sobremim_subtexto" href="homepage.html">
					Telefone:<br>98145-3799
					<br>Email:<br>pedrovbd@al.insper.edu.br
				</div>			
			</div>

			<div class="sobremim_container2">
				<div class="sobremim_titulo" href="homepage.html">
					Sobre mim:
				</div>

				<div class="sobremim_texto">
						Sou estudante de Engenharia Mecânica no Insper Instituto de Ensino e Pesquisa, em São Paulo, especialmente interessado em Física e Matemática. Também me dedico a estudar Programação, Filosofia e Sociologia, conjuntamente a Design e Empreendedorismo, com o objetivo de compreender criticamente o funcionamento da sociedade.<br>Minha relação com a Engenharia não é recente. Desde pequeno, desenvolvo projetos relacionados à área a partir de materiais diversos, como madeira e legos. Mais tarde, passei a identificar problemas e buscar soluções que melhorassem a qualidade de vida dos meus pares, primando pelo desenvolvimento sustentável viabilizado por fontes energéticas renováveis.
				</div>
			</div>

			<div class="sobremim_container3">
				<div class="sobremim_subtitulo2">
					Areas de atuacao (Links):
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Pedro_Villas_Bôas_Diasarea1.html'>
							<img class="a_p_img" src="../static/Images/design.jpg"></img>
							Software e Design
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Pedro_Villas_Bôas_Diasarea3.html'>
							<img class="a_p_img" src="../static/Images/sistems.jpg"></img>
							Sistemas do mundo
					<a/>
				</div>

				<div class="sobremim_container4">
					<a class="a_p" href='Pedro_Villas_Bôas_Diasarea2.html'>
							<img class="a_p_img" src="../static/Images/theory.jpg"></img>
							Trabalhos teoricos
					<a/>
				</div>
			
				<div class="sobremim_subtitulo3">
					Projetos Notaveis:
				</div>

				<div class="sobremim_texto3" href="homepage.html">
					<br>Em Hulk do tipo Modelagem e Simulção do Mundo Físico tirou 9.0.<br>Em EP_2: Inspermon do tipo Software tirou 9.5.
				</div>
			</div>
			<a class = "volta" href="homepage.html">Voltar</a>
		</body>
	</html>