a:link, a:visited {
    color: (internal value);
    text-decoration: none;
}

.titulo {
  position: relative;
  width: 80%;
  color: rgb(58, 58, 58);
  margin: 1.3vw 0vw 1.3vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-left: 10%;
}

a.a_p_1 {
  position: absolute;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: middle;
  left: 89.5vw;
  border-radius: 15%;
  top:11vw;
  width:9vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-image: url("Images/home_design.jpg");
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.a_p_2 {
  position: absolute;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: middle;
  left: 70.5vw;
  border-radius: 15%;
  top:11vw;
  width:9vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-image: url("Images/home_design.jpg");
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.a_p_3 {
  position: absolute;
  font-size: 1.2vw;
  color: white;
  text-decoration: none;
  text-align: center;
  line-height: middle;
  left: 80vw;
  border-radius: 15%;
  top:11vw;
  width:9vw;
  padding-top: 5vw;
  padding-bottom: 5vw;
  background-image: url("Images/home_design.jpg");
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1.titulo_home {
  position: absolute;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 0.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

a.nome1 {
  position: absolute;
  left: 90vw;
  top: 1vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome2 {
  position: absolute;
  left: 90vw;
  top: 2.5vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome3 {
  position: absolute;
  left: 90vw;
  top: 4vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome4 {
  position: absolute;
  left: 90vw;
  top: 5.5vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h2.subtitulo {
  position: absolute;
  width: 100%;
  color: rgb(58, 58, 58);
  top: 3vw;
  font-size: 2vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

/*References to image "teo_link.jpg" in "homepage.html"*/
a.teo_link {
  position: absolute;
  color: black;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1800%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_design.jpg");
  background-size:cover;
  left: 2.5%;
  width: 20%;
  top: 14vw;
  height: 20vw;
  border-radius: 50%;
}

/*References to image "home_sis.jpg" in "homepage.html"*/
a.sis_link {
  position: absolute;
  color: black;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1800%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_design.jpg");
  background-size:cover;
  left: 27.5%;
  width: 20%;
  top: 14vw;
  height: 20vw;
  border-radius: 50%;
}
/*References to image "home_design.jpg" in "homepage.html"*/
a.design_link {
  position: absolute;
  color: black;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1800%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_design.jpg");
  background-size:cover;
  left: 52.5%;
  width: 20%;
  top: 14vw;
  height: 20vw;
  border-radius: 50%;
}
a.matteo_link {
  position: absolute;
  color: black;
  font-size: 2.5vw;
  text-align: center;
  line-height: 1800%;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  background-image: url("Images/home_design.jpg");
  background-size:cover;
  left: 77.5%;
  width: 20%;
  top: 14vw;
  height: 20vw;
  border-radius: 50%;
}

a.volta {
  position: fixed;
  color: rgb(58, 58, 58);
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  left: 0px;
  top: 0px;
  background-color: rgb(242, 242, 242);
  padding: 0.5vw 1vw 0.75vw 0.75vw;
  border-bottom-right-radius: 1vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: silver;
  border-width: 0.1vw;
}

.subtitle {
  margin-top: 0.5vw;
  float: left;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 100%;
  padding-left: 6vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.texto {
  background-color: rgb(235, 235, 235);
  float: right;
  color: black;
  font-size: 1vw;
  width: 55%;
  padding: 1vw 2.5vw 1vw 1vw;
  text-align: right;
  height:20vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imagem {
  position: relative;
  float: left;
  top: -22vw;
  width: 45%;
  height: 22vw;
  margin-bottom: -22vw;
}

.titulo_sobremim{
  position: relative;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 1.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-indent: 10vw;
}

.sobremim_titulo {
  position: relative;
  margin-top: 1.5vw;
  left: 27vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 40%;
  padding-left: 2vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.sobremim_subtitulo {
  position: absolute;
  top: 36vw;
  left: 1vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 25vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.sobremim_texto {
  background-color: rgb(235, 235, 235);
  position: relative;
  left: 27vw;
  color: black;
  font-size: 1vw;
  width: 40%;
  padding: 1vw 1vw 1vw 1vw;
  height:35.1vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_imagem {
  position: absolute;
  top: 9vw;
  left: 1vw;
  border-radius: 50%;
  width: 25vw;
  height: 25vw;
}

.sobremim_texto2 {
  background-color: rgb(235, 235, 235);
  position: absolute;
  float: left;
  left: 1vw;
  color: black;
  font-size: 1vw;
  width: 25vw;
  top: 39vw;
  height:8.4vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_subtitulo2 {
  position: absolute;
  top: 7.8vw;
  left: 70vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 29vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.sobremim_subtitulo3 {
  position: absolute;
  top: 26vw;
  left: 70vw;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 29vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

ul.sobremim_lista {
  background-color: rgb(235, 235, 235);
  position: absolute;
  top: 9.4vw;
  left: 70vw;
  color: black;
  font-size: 1vw;
  width: 27vw;
  padding: 1vw 1vw 1vw 1vw;
  height:13vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li.listinha {
  font-size: 1.5vw;
  margin-left: 2vw;
  list-style-image: none;
}

.sobremim_texto3 {
  background-color: rgb(235, 235, 235);
  position: absolute;
  top: 29vw;
  left: 70vw;
  color: black;
  font-size: 1vw;
  width: 27vw;
  padding: 1vw 1vw 1vw 1vw;
  height:16.5vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
