a:link, a:visited {
    color: (internal value);
    text-decoration: none;
}

.titulo {
  position: relative;
  width: 80%;
  color: rgb(58, 58, 58);
  margin: 1.3vw 0vw 1.3vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  margin-left: 10%;
}

/*.menusinho {
  float: left;
  margin: 0.5vw 1vw 0vw 1vw;
  font-size: 1.5vw;
}*/

a.nome1 {
  position: absolute;
  font-size: 1.5vw;
  left: 90vw;
  top: 1vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome2 {
  position: absolute;
  font-size: 1.5vw;
  left: 90vw;
  top: 2.5vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome3 {
  position: absolute;
  font-size: 1.5vw;
  left: 90vw;
  top: 4vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

a.nome4 {
  position: absolute;
  font-size: 1.5vw;
  left: 90vw;
  top: 5.5vw;
  color: black;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*################################
HOME PAGE
################################*/

h1.titulo_home
{
  position: relative;
  width: 40%;
  left: 30%;
  color: rgb(58, 58, 58);
  margin: 0.5vw 0vw -2vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

h2.subtitulo
{
  position: relative;
  width: 40%;
  left: 30%;
  color: rgb(58, 58, 58);
  font-size: 2vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-align: center;
}

a.black
{
  color: black;
}

.home_container
{
  position: relative;
  margin: 4vw 2vw 4vw 2vw;
  left: 2vw;
  float: left;
  width: 20vw;
  height: 20vw;
}

.home_container, #home_name
{
  position: relative;
  text-align: center;
  color: black;
  font-size: 3vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.home_pic
{
  position: relative;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
}

/*################################
HOME PAGE END
################################*/


/*################################
PROFILE PAGE START
################################*/

.titulo_sobremim{
  position: relative;
  width: 100%;
  color: rgb(58, 58, 58);
  margin: 1.5vw 0vw 0.5vw 0vw;
  font-size: 3.9vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  text-indent: 8vw;
}

.sobremim_container1
{
  float: left;
  height: 34vw;
  width: 40vw;
  margin: 2vw 1.5vw 2vw 0vw;
}

.sobremim_titulo
{
  position: relative;
  width: inherit;
  height: inherit;
  text-indent: 1vw;
  color: rgb(58, 58, 58);
  font-size: 2vw;
  border-top: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_texto
{
  position: relative;
  height: inherit;
  width: 35vw;
  padding: 1.5vw 2.5vw 0vw 2.5vw;
  background-color: rgb(235, 235, 235);
  color: black;
  font-size: 1vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
}

.sobremim_container2
{
  position: relative;
  float: left;
  height: 30vw;
  width: 25vw;
  margin: 2vw 1.5vw 2vw 1.5vw;
}

.sobremim_subtitulo
{
  position: relative;
  color: rgb(58, 58, 58);
  text-indent: 1vw;
  margin: 1.5vw 0vw 0vw 0vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_subtexto
{
  background-color: rgb(235, 235, 235);
  position: relative;
  height: 6vw;
  width: 20vw;
  padding: 1vw 2.5vw 2vw 2.5vw;
  color: black;
  font-size: 1vw;
  border-top: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_imagem
{
  position: relative;
  width:25vw;
  height: 25vw;
  border-radius: 50%;
}

.sobremim_subtitulo2
{
  position: relative;
  float: left;
  text-align: left;
  margin: 2vw 0vw 1vw 0vw;
  color: rgb(58, 58, 58);
  width: 29vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_container3
{
  height: 13vw;
  width: inherit;
  border-top: solid 1px silver;
}

a.a_p
{
  left: 0.6vw;
  width: 9vw;
  height: 9vw;
  margin: 0.5vw 0.1vw 0.5vw 0.1vw;
  float:left;
  position: relative;
  font-size: 1.2vw;
  color: black;
  text-decoration: none;
  text-align: center;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

img.a_p_img
{
  position: relative;
  height: inherit;
  width: inherit;
  border-radius: 15%;
}

.sobremim_subtitulo3
{
  position: relative;
  float: left;
  color: rgb(58, 58, 58);
  text-indent: 1vw;
  width: 29vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.sobremim_texto3
{
  background-color: rgb(235, 235, 235);
  position: relative;
  color: black;
  border-top: solid 1px silver;
  font-size: 1vw;
  float: left;
  padding: 1vw 1vw 1vw 1vw;
  width: 27vw;
  height:16.8vw;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

/*################################
PROFILE PAGE END
################################*/


a.volta
{
  position: fixed;
  color: rgb(58, 58, 58);
  font-size: 1vw;
  font-weight: bold;
  text-decoration: none;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  left: 0px;
  top: 0px;
  background-color: rgb(242, 242, 242);
  padding: 0.5vw 1vw 0.75vw 0.75vw;
  border-bottom-right-radius: 1vw;
  border-right-style: solid;
  border-bottom-style: solid;
  border-color: silver;
  border-width: 0.1vw;
}

.subtitle
{
  margin-top: 0.5vw;
  float: left;
  color: rgb(58, 58, 58);
  text-decoration: none;
  width: 93.9%;
  padding-left: 6vw;
  font-size: 2vw;
  border-top: solid 1px silver;
  border-bottom: solid 1px silver;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  line-height: 2.4vw;
}

.texto {
  position: relative;
  background-color: rgb(235, 235, 235);
  float: left;
  overflow-x: hidden;
  color: black;
  font-size: 1vw;
  width: 98%;
  padding: 1vw 1vw 1vw 1vw;
  height:20vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

.imagem {
  position: relative;
  float:left;
  width: 40vw;
  height: 20vw;
  margin-right: 1vw;
}

.sobremim_texto2
{
  background-color: rgb(235, 235, 235);
  position: absolute;
  float: left;
  left: 1vw;
  color: black;
  font-size: 1vw;
  width: 25vw;
  top: 39vw;
  height:8.4vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

ul.sobremim_lista {
  background-color: rgb(235, 235, 235);
  position: absolute;
  top: 9.4vw;
  left: 70vw;
  color: black;
  font-size: 1vw;
  width: 27vw;
  padding: 1vw 1vw 1vw 1vw;
  height:13vw;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

li.listinha {
  font-size: 1.5vw;
  margin-left: 2vw;
  list-style-image: none;
}
